<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/home"  slot="start"></ion-back-button>
      </ion-buttons>
      <ion-title>Rona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card >      
      <ion-card-content>
        <img src="../assets/icon/SSCC-Pallet-Barcode.jpg" />
      </ion-card-content>
    </ion-card>
  
    <ion-card (click)="showBarCode(2)">      
      <ion-card-content>
        <h1>Bar Code 2</h1>
      </ion-card-content>
    </ion-card>
  
    
        
  </ion-content>
  
