<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list routerLink="/tabs/pruchase">
        <ion-item >
          <ion-label>View Purchase History</ion-label>
          <ion-icon name="arrow-dropright" size="large" slot="end"></ion-icon>
        </ion-item>
    </ion-list>

    <ion-list routerLink="/tabs/pruchase">
      <ion-item >
        <ion-label>View Purchase History</ion-label>
        <ion-icon name="arrow-dropright" size="large" slot="end"></ion-icon>
      </ion-item>
  </ion-list>
</ion-content>
